@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<div class="container mt-4" style="height:600px">
    <h2>Giỏ Hàng</h2>
    <div class="row mt-4">
        <div class="col-md-12" id="CartContent">
           @Html.Action("Cart_Items", "Cart")

        </div>
    </div>
</div>


