
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
    if (Session["User"] != null)
    {
        <div class="container mt-5" style="height: 520px">
            <h2>Đổi Mật khẩu</h2>
            <form method="post" action="~/User/ChangePassword">

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Old Password</label>
                    <input type="password" class="form-control" name="oldPassword" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">New Password</label>
                    <input type="password" class="form-control" name="newPassword" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Retype Password</label>
                    <input type="password" class="form-control" name="RetypePassword" id="exampleInputPassword1">
                </div>
                @{
                    if (!string.IsNullOrEmpty(ViewBag.message) && ViewBag.kt == 0)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.message
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(ViewBag.message) && ViewBag.kt != 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.message
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(ViewBag.message))
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.message
                        </div>
                    }


                }
                <button type="submit" class="btn btn-success">Submit</button>

            </form>
        </div>
    }
    else
    {
<div class="container justify-content-center">
    <div class="alert alert-danger" role="alert">
        Không tìm thấy nội dung, vui lòng bấm vào <a href="~/Home/Index" class="alert">Trang Chủ</a> để trở về.
    </div>
</div>

    }

}


