
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <hr />

    <!-- Header -->
    <header class="text-white text-center py-5" style="background-color: forestgreen;">
        <div class="container">
            <h1 class="display-4">Chào mừng đến với Nông Sản Dũng Hà</h1>
            <p class="lead">Chất lượng cao, giá trị tốt nhất!</p>
        </div>
    </header>

    <!-- Table of Contents -->
    <section class="container my-5" id="table-of-contents">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-center">Mục Lục</h2>
                <ul class="list-group">
                    <li class="list-group-item"><a class="nav-link" href="#introduction">Giới thiệu chi tiết</a></li>
                    <li class="list-group-item"><a class="nav-link" href="#video">Video Clip</a></li>
                    <li class="list-group-item"><a class="nav-link" href="#images">Hình ảnh</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img src="https://admin.nongsandungha.com/img/%C4%91%E1%BA%ADu%20g%C3%A0/gioi-thieu.jpg" alt="Cửa hàng nông sản" class="img-fluid rounded">
            </div>
        </div>
    </section>

    <!-- Introduction Section -->
    <section class="container my-5" id="introduction">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="text-center" style="color:green">Giới Thiệu Chi Tiết</h2>
                <p class="lead" style="text-align:justify">
                    Chúng tôi hi vọng tất cả người tiêu dùng Việt Nam và Quốc Tế sẽ được sử dụng các loại thực phẩm sạch tươi ngon, bổ dưỡng và an toàn nhất tại cửa hàng Nông Sản Dũng Hà. Dũng Hà cam kết đưa đến người tiêu dùng các mặt hàng nông sản tươi ngon nhất của các vùng miền trên Toàn Quốc với phương châm là “Mang thiên nhiên về với căn nhà của bạn”.
                </p>
                <p class="lead" style="text-align:justify">
                    Với quy trình lựa chọn và kiểm soát nghiêm ngặt, Nông Sản Dũng Hà đã tạo nên quỹ đầu tư chuyên thu mua và cung cấp phân phối những sản phẩm rau sạch tươi ngon nhất từ các nông trại phân phối đến tay người tiêu dùng giúp họ có những bữa ăn tươi ngon nhất trong từng sản phẩm.
                </p>
            </div>
            <div class="col-lg-3">
                <img src="https://admin.nongsandungha.com/wp-content/uploads/2017/02/a45aa4d3e6aa2cf475bb.jpg" alt="Cửa hàng nông sản" class="img-fluid rounded">
            </div>
        </div>
    </section>

    <!-- Video Section -->
    <section class="container my-5" id="video">
        <h2 class="text-center" style="color:green">Video hành trình phát triền 5 năm của Nông sản Dũng Hà</h2>
        <!-- Đặt đường dẫn video thực tế vào src -->
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_b92bDEJ7aE?si=J2MqG7fihJt-PTcS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </section>

    <section class="container my-5" id="introduction">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="text-center" style="color:green">Sứ mệnh của công ty cổ phần phát triển Nông sản Dũng Hà</h2>
                <p class="lead" style="text-align: center; font-weight: bold">
                    "NÔNG SẢN DŨNG HÀ - MANG SỨC KHỎE VÀ CUỘC SỐNG AN LÀNH ĐẾN MỌI NƠI"
                </p>
                <p class="lead" style="text-align:justify">
                    Đó chính là sứ mệnh mà Nông sản Dũng Hà ra đời. Với tiêu chí đặt CHẤT LƯỢNG lên hàng đầu. Từ lâu, Nông sản Dũng Hà đã là nơi tin tưởng của mỗi chị em trong mỗi lần đi chợ.
                    Không chỉ có thực phẩm tươi mà
                    còn vô cùng đa dạng các loại từ rau, thịt, cho đến các loại Thực phẩm khô, hoa quả,... Thật lòng mà nói thì, gi gỉ gì gi cái gì Nông sản Dũng Hà đều có hết.
                </p>
                <p class="lead" style="text-align:justify">
                    Vừa có tất cả vừa tươi ngon, giá cả lại hợp lý. Chẳng có một lý do gì để từ chối Nông sản Dũng Hà phải không nào? Hãy đến ngay với chúng tôi ngay hôm nay để trải
                    nghiệm dịch vụ cũng như tận hưởng vô số các chương trình khuyến mãi sản phẩm áp dụng liên tục hàng ngày, hàng tuần và háng tháng nhằm tri ân sự ủng hộ của khách hàng suốt thời gian qua.
                </p>
            </div>
            <div class="col-lg-3">
                <img src="https://admin.nongsandungha.com/wp-content/uploads/2022/07/18df98c649718a2fd360.jpg" alt="Cửa hàng nông sản" class="img-fluid rounded">
            </div>
        </div>
    </section>
    <!-- Image Section -->
    <section class="container my-5" id="images">
        <h2 class="text-center">Hình Ảnh</h2>
        <!-- Thêm các hình ảnh thực tế với đường dẫn thích hợp -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <img src="https://admin.nongsandungha.com/wp-content/uploads/2017/02/thuc-pham-sach-mang-tay-xanh-loai-1.jpg" alt="Hình ảnh 1" class="img-fluid rounded">
            </div>
            <div class="col-md-4 mb-3">
                <img src="https://admin.nongsandungha.com/wp-content/uploads/2017/02/thuc-pham-sach-cu-hu-dua-tuoi.jpg" alt="Hình ảnh 2" class="img-fluid rounded">
            </div>
            <div class="col-md-4 mb-3">
                <img src="https://admin.nongsandungha.com/wp-content/uploads/2017/02/thuc-pham-sach-rau-mam-da-sapa.jpg" alt="Hình ảnh 3" class="img-fluid rounded">
            </div>
        </div>
    </section>
    <section class="container my-5">
                <img src="https://admin.nongsandungha.com/wp-content/uploads/2017/02/c88c7e083c71f62faf60.jpg" alt="Cửa hàng nông sản" class="img-fluid rounded">
                <img src="https://admin.nongsandungha.com/wp-content/uploads/2017/02/1065a5f5e78c2dd2749d.jpg" alt="Cửa hàng nông sản" class="img-fluid rounded">
                <img src="https://admin.nongsandungha.com/wp-content/uploads/2017/02/b7c348400a39c0679928.jpg" alt="Cửa hàng nông sản" class="img-fluid rounded">
                <img src="https://admin.nongsandungha.com/wp-content/uploads/2017/02/518fa300e1792b277268.jpg" alt="Cửa hàng nông sản" class="img-fluid rounded">
    </section>
    <section class="container my-5" id="">
        <div class="row">
        
                <h2 class="text-center" style="color:green">Mua thực phẩm sạch ở đâu uy tín, giá rẻ, chất lượng tại Hà Nội và Thành phố Hồ Chí Minh? </h2>
                <p class="lead" style="text-align: justify; color: green; font-weight: bold">
                    Mua thực phẩm sạch chất lượng tại HN?
                </p>
                <p class="lead" style="text-align:justify">
                    Mua thực phẩm sạch Organic chất lượng tại HN có rất nhiều. Nhưng để tìm địa điểm bán nông sản sạch
                    chất lượng thì chưa có câu trả lời chính xác.
                    Điều khách hàng trong và Quốc Tế quan tâm nhất hiện nay đó là mua thực phẩm sạch ở đâu giá rẻ?
                    Nông sản Dũng Hà chính là địa điểm phân phối nông sản sạch, thực phẩm sạch có đầy đủ giấy
                    tờ kiểm định chất lượng, đạt chuẩn vệ sinh an toàn thực phẩm.
                    Tại Dũng Hà, chúng tôi cam kết đem tới cho quý khách hàng những sản phẩm
                    chất lượng, có nguồn gốc xuất xứ minh bạch, rõ ràng.
                </p>
                <p class="lead" style="text-align: justify; color: green;font-weight:bold">
                    Mua thực phẩm sạch giá rẻ tại TP HCM?
                </p>
                <p class="lead" style="text-align:justify">
                    Để tìm được cửa hàng bán thực phẩm sạch giá rẻ tại TP HCM cũng đang là một vấn đề thách thức vô cùng lớn dành cho người tiêu dùng.
                    Đây là một mặt hàng đa dạng các chủng loại, có độ cạnh tranh lớn, mức tiêu thụ sản lượng khổng lồ. Thời gian gần đây, nhu cầu tìm mua thực phẩm sạch Organic của người dân
                    đang có xu hướng tăng cao. Nếu bạn muốn mua thực phẩm sạch giá rẻ, uy tín tại TP HCM thì hãy ghé thăm Nông sản Dũng Hà nhé.
                    Với nhiều năm kinh nghiệm kinh doanh trong lĩnh vực đặc sản vùng miền, hải sản đông lạnh, hạt dinh dưỡng,...
                    Nên tất cả sản phẩm chúng tôi bán ra thị trường trong và ngoài nước đều được kiểm định rất nghiêm ngặt.
                </p>
                <p class="lead">
                    Mọi thắc mắc, khiếu nại về chất lượng sản phẩm, xin bạn hãy liên hệ với chúng tôi qua đường dây nóng số: 1900 986865.
                </p>
                <p class="lead">
                    Hoặc bạn có thể tới trực tiếp tại cửa hàng chúng tôi để tham quan, mua sắm sản phẩm tại:
                </p>
                <p class="lead">
                    Cs1: Số 11 Kim Đồng - Đường Giáp Bát - Quận Hoàng Mai - Hà Nội
                    <br />
                    Cs2: A10 - Ngõ 100 - Đường Trung Kính - Phường Yên Hòa - Quận Cầu Giấy - Hà Nội
                    <br />
                    Cs3: Số 02/B khu phố 3 - Đường Trung Mỹ Tây 13 - Quận 12 - TP HCM
                    <br>
                    </p>
                    <p class="lead" style="font-style:italic;font-weight:bold;text-align:center">
                    NÔNG SẢN DŨNG HÀ - ĐEM THỰC PHẨM SẠCH VỀ VỚI NGÔI NHÀ CỦA BẠN!!!
                </p>
            </div>
           
    </section>
    <!-- Bootstrap JS và Popper.js (được yêu cầu bởi Bootstrap 5) -->
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>



